#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #B72C3E; 
    --gradient-color-2: #5D1A30; 
    --gradient-color-3: #B06145;  
    --gradient-color-4: #761F33;
  }
        